@font-face {
	font-display: swap;
	font-family: "Questrial";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/questrial-v19-latin-regular.woff2") format("woff2");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--text: #1c0d14;
		--background: #faf5f8;
		--primary: #62324f;
		--secondary: #cab496;
		--accent: #9f805b;

    --text-50: #f7eef2;
    --text-100: #efdce5;
    --text-200: #dfb9cb;
    --text-300: #cf96b1;
    --text-400: #bf7396;
    --text-500: #af507c;
    --text-600: #8c4063;
    --text-700: #69304b;
    --text-800: #462032;
    --text-900: #231019;
    --text-950: #11080c;

    --background-50: #f6eef3;
    --background-100: #eedde7;
    --background-200: #ddbbcf;
    --background-300: #cc99b8;
    --background-400: #bb77a0;
    --background-500: #aa5588;
    --background-600: #88446d;
    --background-700: #663352;
    --background-800: #442236;
    --background-900: #22111b;
    --background-950: #11090e;

    --primary-50: #f6eef3;
    --primary-100: #eedde7;
    --primary-200: #dcbccf;
    --primary-300: #cb9ab7;
    --primary-400: #ba78a0;
    --primary-500: #a85788;
    --primary-600: #87456d;
    --primary-700: #653451;
    --primary-800: #432336;
    --primary-900: #22111b;
    --primary-950: #11090e;

    --secondary-50: #f6f3ee;
    --secondary-100: #eee7dd;
    --secondary-200: #ddcfbb;
    --secondary-300: #ccb799;
    --secondary-400: #bb9f77;
    --secondary-500: #aa8755;
    --secondary-600: #886c44;
    --secondary-700: #665133;
    --secondary-800: #443622;
    --secondary-900: #221b11;
    --secondary-950: #110d09;

    --accent-50: #f6f3ef;
    --accent-100: #ece6df;
    --accent-200: #dacdbe;
    --accent-300: #c7b59e;
    --accent-400: #b59c7d;
    --accent-500: #a2835d;
    --accent-600: #82694a;
    --accent-700: #614f38;
    --accent-800: #413425;
    --accent-900: #201a13;
    --accent-950: #100d09;


		--radius: 0.5rem;
	}
	.dark {
		--text: #f2e3ea;
		--background: #0a0508;
		--primary: #cd9dba;
		--secondary: #695335;
		--accent: #a48560;

    --text-50: #11080c;
    --text-100: #231019;
    --text-200: #462032;
    --text-300: #69304b;
    --text-400: #8c4063;
    --text-500: #af507c;
    --text-600: #bf7396;
    --text-700: #cf96b1;
    --text-800: #dfb9cb;
    --text-900: #efdce5;
    --text-950: #f7eef2;

    --background-50: #11090e;
    --background-100: #22111b;
    --background-200: #442236;
    --background-300: #663352;
    --background-400: #88446d;
    --background-500: #aa5588;
    --background-600: #bb77a0;
    --background-700: #cc99b8;
    --background-800: #ddbbcf;
    --background-900: #eedde7;
    --background-950: #f6eef3;

    --primary-50: #11090e;
    --primary-100: #22111b;
    --primary-200: #432336;
    --primary-300: #653451;
    --primary-400: #87456d;
    --primary-500: #a85788;
    --primary-600: #ba78a0;
    --primary-700: #cb9ab7;
    --primary-800: #dcbccf;
    --primary-900: #eedde7;
    --primary-950: #f6eef3;

    --secondary-50: #110d09;
    --secondary-100: #221b11;
    --secondary-200: #443622;
    --secondary-300: #665133;
    --secondary-400: #886c44;
    --secondary-500: #aa8755;
    --secondary-600: #bb9f77;
    --secondary-700: #ccb799;
    --secondary-800: #ddcfbb;
    --secondary-900: #eee7dd;
    --secondary-950: #f6f3ee;

    --accent-50: #100d09;
    --accent-100: #201a13;
    --accent-200: #413425;
    --accent-300: #614f38;
    --accent-400: #82694a;
    --accent-500: #a2835d;
    --accent-600: #b59c7d;
    --accent-700: #c7b59e;
    --accent-800: #dacdbe;
    --accent-900: #ece6df;
    --accent-950: #f6f3ef;
	}
}


@layer base {
	body {
		@apply bg-background;
	}
}

body {
	margin: 0;
	font-family: Questrial;
}
