@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: hsl(40, 50%, 98%);
		--foreground: hsl(0, 0%, 0%);
		--accent: hsl(0, 0%, 78%);
		--accent-strong: hsl(0, 1%, 67%);
		--muted-foreground: hsl(0, 0%, 50%);
		--card: hsl(0, 0%, 100%);
		--card-foreground: hsl(0, 0%, 3.9%);
		--popover: hsl(0, 0%, 100%);
		--popover-foreground: hsl(0, 0%, 3.9%);
		--primary: hsl(60, 3%, 88%);
		--primary-foreground: hsl(0, 0%, 98%);
		--secondary: hsl(0, 0%, 96.1%);
		--secondary-foreground: hsl(0, 0%, 9%);
		--muted: hsl(0, 0%, 96.1%);
		--accent-foreground: hsl(0, 0%, 9%);
		--destructive: hsl(0, 84.2%, 60.2%);
		--destructive-foreground: hsl(0, 0%, 98%);
		--border: hsl(0, 0%, 89.8%);
		--input: hsl(0, 0%, 89.8%);

		--radius: 0.5rem;
	}
	.dark {
		--background: hsl(240, 10%, 4%);
		--foreground: hsl(0, 0%, 98%);
		--accent-strong: hsl(240, 5%, 24%);
		--card: hsl(0, 0%, 3.9%);
		--card-foreground: hsl(0, 0%, 98%);
		--popover: hsl(0, 0%, 3.9%);
		--popover-foreground: hsl(0, 0%, 98%);
		--primary: hsl(240, 4%, 9%);
		--primary-foreground: hsl(0, 0%, 9%);
		--secondary: hsl(240, 4%, 42%);
		--secondary-foreground: hsl(0, 0%, 98%);
		--muted: hsl(0, 0%, 33%);
		--muted-foreground: hsl(0, 0%, 50%);
		--accent: hsl(240, 3%, 15%);
		--accent-foreground: hsl(0, 0%, 98%);
		--destructive: hsl(0, 62.8%, 30.6%);
		--destructive-foreground: hsl(0, 0%, 98%);
		--border: hsl(0, 0%, 14.9%);
		--input: hsl(0, 0%, 14.9%);

		--radius: 0.5rem;
	}
}

@layer base {
	body {
		@apply bg-background text-foreground;
	}
}

body {
	color: var(--text-color);
	background-color: var(--background);
	margin: 0;
	font-family:
		Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
		Bitstream Vera Sans Mono, Courier New, monospace;
}
